@import url('https://fonts.googleapis.com/css?family=Raleway');
body {
  padding: 0;
  margin: 0;
  background: #f4f4f4;
}

html, h1, h2, h3, h4, h5, h6, a {
  font-family: "Raleway";
}

.navbar {
  background-image: url('../images/bg-img.jpg');
}

.navbar-toggler-icon {
  background-image: url('../images/icons/menu.svg');
}

.nav-link, .navbar-brand {
  color: #f4f4f4;
  font-weight: bold;
  text-shadow: 2px 2px 2px black;
  cursor: pointer;
}

.logo {
  height: 3em;
  width: auto;
}

.nav-link {
  margin-right: 1em !important;
}

.nav-link:hover {
  background: #f4f4f4;
  color: #f97300;
  text-shadow: none;
}

.navbar-collapse {
  justify-content: flex-end;
}

.navbar-toggler {
  background: #fff !important;
}

/* About */

.about {
  margin-top: 1em;
  padding: 2em;
  position: relative;
}

.about h1 {
  color: #F97300;
  margin-top: 2em;
}

.about img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.about span {
  display: block;
  color: #888;
  text-align: center;
}

.about .desc {
  padding: 2em;
  border-left: 4px solid #10828C;
}

.about .desc h3 {
  color: #10828C;
}

.about .desc p {
  line-height: 2;
  color: #888;
}

/*Menu*/

.menu {
  padding-top: 0;
  position: relative;
}

.menu input::value {
  font-size: 16px;
}

.menu h1 {
  color: #F97300;
  margin: 2em;
}

.menu h5 {}

.sides, .ramen {
  margin: 1em;
  background: #F97300;
  color: #fff;
  border: 0;
}

.badge_icon {
  height: 2em;
  width: auto;
}

.list-group-item {
  width: 100%;
  margin-left: 1em;
  text-align: left;
}

.list-group-item>.badge {
  float: right;
}

/* Gallery */

.gallery {
  margin: 4em 0;
  position: relative;
}

.gallery h1 {
  color: #F97300;
  margin: 2em;
}

/*restaurants style*/

.restaurants {
  margin: 4em 0;
  position: relative;
}

.restaurants h1 {
  color: #F97300;
  margin: 2em;
}

.restaurants .card {
  box-shadow: 0 0 20px #ccc;
}

.map {
  border: none;
}

.restaurants .card-title {
  color: #F97300;
}

.restaurants .card-body {
  padding: 1em;
}

.media {
  justify-content: center;
}

.social {
  height: 30px;
  width: auto;
  margin-right: 2em;
  margin-left: 2em;
}

/* contact */

.contact-form {
  margin: 6em 0;
  position: relative;
}

.contact-form h1 {
  padding: 2em 1px;
  color: #F97300;
}

.contact-form .right {
  max-width: 600px;
}

.contact-form .right .btn-secondary {
  background: #F97300;
  color: #fff;
  border: 0;
}

.contact-form .right .form-control::placeholder {
  color: #888;
  font-size: 16px;
}

.badge-warning {
  background: #F97300;
  color: #fff;
}